# Sanick Equipamentos de Precisão

Abaixo importação e exibição do arquivo .csv contendo a quantidade de defeitos de cada amostra.

Biblioteca utilizada: pandas

In [1]:
import pandas as pd
df = pd.read_csv('Info/quantidade.csv')
df = df.set_index('objeto')

### Conteúdo do DataFrame

In [2]:
df

,defeitosTreino,semDefeitosTreino,totalTreino,defeitosTeste,semDefeitosTeste,totalTeste,Total,%Defeitos
objeto,,,,,,,,
capsulaRosa,15,197,212,5,83,88,300,"6,66"
capsulaMarrom,34,652,686,15,279,294,980,5
soja,49,651,700,21,279,300,1000,7

### Descrição estatística dos dados
Função .describe()

In [3]:
df.describe()

,defeitosTreino,semDefeitosTreino,totalTreino,defeitosTeste,semDefeitosTeste,totalTeste,Total
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,32.666667,500.000000,532.666667,13.666667,213.666667,227.333333,760.000000
std,17.039171,262.406174,277.793688,8.082904,113.160653,120.703493,398.497177
min,15.000000,197.000000,212.000000,5.000000,83.000000,88.000000,300.000000
25%,24.500000,424.000000,449.000000,10.000000,181.000000,191.000000,640.000000
50%,34.000000,651.000000,686.000000,15.000000,279.000000,294.000000,980.000000
75%,41.500000,651.500000,693.000000,18.000000,279.000000,297.000000,990.000000
max,49.000000,652.000000,700.000000,21.000000,279.000000,300.000000,1000.000000

### Acessando informações
* Dados referentes a semente de soja

In [4]:
df.loc[['soja']]

,defeitosTreino,semDefeitosTreino,totalTreino,defeitosTeste,semDefeitosTeste,totalTeste,Total,%Defeitos
objeto,,,,,,,,
soja,49,651,700,21,279,300,1000,7

* Relação de cápsulas 1 defeituosas na etapa de treino

In [5]:
df.loc[['capsulaMarrom'],['defeitosTreino']]

               defeitosTreino
objeto
capsulaMarrom              34

* Quantidade de cápsulas 1 defeituosas na etapa de treino

In [6]:
result = df.at['capsulaMarrom','defeitosTreino']
print("Quantidade: ", result)

Quantidade:  34